.top-nav{
	background: 46dddf;
	padding: 4px;
}
.top-nav a{
	padding-top: 25px;
	padding-left: 60px;
}
.header .row{
	padding-left: 220px;
	padding-right: 374px;
}
.header{
	padding-top: 300px;
}
/*
body{
	background: blue;
}
*/